# Querying SQL databases

Your task is to analyze game and player statistics from the NBA 2008-2009 season provided as a relational database of play-by-play data.

You cannot use jupyter to execute the queries. To write and test the queries, use the web interface at http://vo.elte.hu/basketball/. Copy queries into the worksheet for submission.

## Excercise 1 - Simple queries

a) List all teams playing in the league during the season

b) List teams in alphabetic order but division by division

c) Count the number of persons/players in the league

In [2]:
# queries
# a: # different teams: 
'''
SELECT DISTINCT team.name FROM dbo.team
'''

# b:
'''
SELECT division.name AS "Division name", team.name AS "Team name"
from team
INNER JOIN division on team.division_id = division.id

ORDER BY division.id, team.name

'''

# c:
'''
SELECT COUNT(person_id) FROM dbo.player
'''

'\nSELECT COUNT(person_id) FROM dbo.player\n'

## Excercise 2 - Simple joins

a) List teams by division, including the division name

b) List players by team including the uniform number

In [1]:
# queries
# a:
'''
SELECT division.name AS "Division name", team.id AS "Team id", team.name AS "Team name"

FROM team

INNER JOIN division ON team.division_id =division.id 
'''
# b:
'''
SELECT player.team_id AS "Team ID",player.number AS "Number",player.person_id AS "Person ID",person.name AS "Person name",team.name AS "Team name"

FROM player
INNER JOIN person ON player.number = person.id



INNER JOIN team ON player.team_id = team.id
'''

'\nSELECT player.team_id AS "Team ID",player.number AS "Number",player.person_id AS "Person ID",person.name AS "Person name",team.name AS "Team name"\n\nFROM player\nINNER JOIN person ON player.number = person.id\n\n\n\nINNER JOIN team ON player.team_id = team.id\n'

## Excercise 3 - Simple aggregation

a) Count number of persons playing for a given team

b) List all teams along with the number of players

c) Count the number of teams a given person played for

d) List all players along with the number of teams they played for

e) List players who played for more than two teams during the season

In [ ]:
# queries
# a:
'''
SELECT player.team_id, COUNT(*) AS "number of persons"
FROM player
GROUP
BY player.team_id
'''

# b:
'''
SELECT player.team_id, COUNT(*) AS number_of_persons INTO #result
FROM player
GROUP BY player.team_id

SELECT team.id,team.name, #result.number_of_persons
FROM team
INNER JOIN #result ON #result.team_id = team.id


'''

# c:
'''
SELECT player.person_id, COUNT(*) AS played_teams INTO #result
FROM player
GROUP
BY player.person_id


SELECT person.name, #result.played_teams INTO #result2
FROM person
INNER JOIN #result ON #result.person_id = person.id

SELECT * FROM #result2 WHERE name = 'Adam Morrison'

'''

# d:
'''
SELECT player.person_id, COUNT(*) AS played_teams INTO #result
FROM player
GROUP
BY player.person_id


SELECT person.name, #result.played_teams
FROM person
INNER JOIN #result ON #result.person_id = person.id

'''

# e:
'''
SELECT player.person_id, COUNT(*) AS played_teams INTO #result
FROM player
GROUP
BY player.person_id


SELECT person.name, #result.played_teams INTO #result2
FROM person
INNER JOIN #result ON #result.person_id = person.id

SELECT * FROM #result2 WHERE played_teams > 2
'''

# Excercise 4 - More complex queries with set operations and common table expressions

a) Pick a game and list all field shots and free throw attempts, including points

b) Combine the previous two into a single table and only show successful attempts

c) Take previous query and sum all points by team so that end result is available

d) Remove filter on game and get end result of each game during season

e) Modify the previous query to return a single line per game, with home team and away team points

In [ ]:
# queries
# queries
# a:
'''
SELECT * INTO #compact_game
FROM dbo.event
WHERE (game_id = 1
AND (type = 'shot' OR type = 'free throw'))

SELECT * INTO #point_game
FROM dbo.point
WHERE game_id = 1

SELECT #compact_game.game_id,#compact_game.cntr,#compact_game.type,#point_game.points
FROM #point_game
INNER JOIN #compact_game ON #compact_game.cntr = #point_game.cntr




'''

# b:
'''
SELECT * INTO #compact_game
FROM dbo.event
WHERE (game_id = 1
AND (type = 'shot' OR type = 'free throw'))

SELECT * INTO #point_game
FROM dbo.point
WHERE game_id = 1

SELECT #compact_game.game_id,#compact_game.cntr,#compact_game.type,#point_game.points
FROM #point_game
INNER JOIN #compact_game ON #compact_game.cntr = #point_game.cntr


'''

# c:
'''
SELECT * INTO #compact_game
FROM dbo.event
WHERE (game_id = 1
AND (type = 'shot' OR type = 'free throw'))

SELECT * INTO #point_game
FROM dbo.point
WHERE game_id = 1

SELECT #compact_game.game_id,#compact_game.cntr,#compact_game.type,#point_game.points INTO #result
FROM #point_game
INNER JOIN #compact_game ON #compact_game.cntr = #point_game.cntr

SELECT SUM(points) FROM #result
'''

# d:
'''
SELECT * INTO #compact_game
FROM dbo.event
WHERE type = 'shot' OR type = 'free throw'

SELECT * INTO #point_game
FROM dbo.point


SELECT #compact_game.game_id,#compact_game.cntr,#compact_game.type,#point_game.points INTO #result
FROM #point_game
INNER JOIN #compact_game
ON (#compact_game.game_id = #point_game.game_id)
AND (#compact_game.cntr = #point_game.cntr)

SELECT #result.game_id, COUNT(*) AS "End_points"
FROM #result
GROUP
BY #result.game_id
ORDER BY #result.game_id
'''

## Excercise 5 - a rather complex example

a)  Print season results by division. For each team, calculate with a **single_ query**

- number of games played
- wins
- losts
- winning percentage

Compare with https://en.wikipedia.org/wiki/2008â€“09_NBA_season#By_division

In [ ]:
# query